// Font Weights
$light-weight: 300;
$normal-weight: 400;
$s-bold-weight: 600;
$bold-weight: 700;
$x-bold-weight: 700;
$black-weight: 900;

// Colors
$black: #5b5b5b;
$white: #ffffff;
$white-800: #dddddd;
$primary: #252584;
$secondary: #a6a6c2;
$info: #2b61b4;
$danger: #ff7777;
$info-light: #dcf0ff;
$icon-default: #efe0ff;
$icon-content-default: #8251bc;
$icon-danger: #ffeeee;
$icon-content-danger: #fe0302;
$icon-warm: #fe0302;
$icon-secondary: #ff00b8;
$icon-warning: #fffede;
$icon-content-warning: #ffc120;
$icon-info: #dcf0ff;
$icon-content-info: #2b61b4;
$button-default: #efe0ff;
$button-content-default: #8251bc;
$button-warning: #fffede;
$button-content-warning: #ffc120;
$button-info: #dcf0ff;
$button-content-info: #2b61b4;
$button-primary: #252584;
$button-content-primary: #252584;
