html * {
  font-family: "Nunito", sans-serif;
  font-weight: $s-bold-weight;
  color: $black;
}

body {
  background-color: $white;
}

a {
  color: inherit;
}

p {
  line-height: 2;
  font-size: 1rem;
  color: $secondary;
}

@media (min-width: 1400px) {
  p {
    font-size: 1.25rem;
  }
}
